@charset "UTF-8";

@use 'header';
@use 'footer';

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  min-height: 100vh;
  background: #fff;
  color: #121212;
  font-size: 1.44rem;
  position: relative;
}

#main {
  padding-top: 80px;
}

.wrapper {
  width: 100%;
  max-width: 85%;
  margin: 0 auto;

}

h2 {
  font-family: 'Inika', serif;
  font-size: 3.6rem;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 40px;
  letter-spacing: 0.08rem;
}



a{
  text-decoration: none;
}

img {
  width: 100%;
}

li {
  list-style-type: none;
}

/* main */

/* video */
#video {
  margin-bottom: 30px;
  .bg-video {
    width: 100%;
  }  
}

/* pick up */
#pickup {
  margin-bottom: 30px;
}

.swiper {
  overflow: hidden;
  position: relative;
  padding: 0 100px;
  z-index: 1;
}

.swiper-wrapper {
  width: 100%;
}

/* FEATURE */
#feature {
  padding: 0 16px;
  margin-bottom: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  gap: 26px;
  .item {
    height: auto;
    box-shadow: 0 0 8px 4px #ccc;
  }
}

.item-text {
  padding: 30px 30px 30px;
  p.category {
    padding-bottom: 40px;
  }
  p.text {
    padding-bottom: 40px;
    font-weight: bold;
    line-height: 1.7;
  }
  p.days {
    text-align: end;
  }
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s;
}

.scroll-in {
  opacity: 1;
  transform: translateY(0px);
}

/* CONTACT */
#contact {
  padding: 0 16px;
  padding-bottom: 50px;
  background: #121212;
  color: #fff;
}

.contact {
  display: flex;
  justify-content: space-between;
}

.contact-text {
  width: 45%;
  p {
    margin-bottom: 30px;
    line-height: 1.7;
  }
}

.contact-form {
  width: 45%;
  dd {
    width: 100%;
    background: #fff;
    margin-bottom: 22px;
    padding: 10px;
  }
}

.button {
  width: 200px;
  border: solid 1px #fff;
  margin-bottom: 0;
  input {
    width: 200px;
    color: #fff;
    padding: 15px 0;
  }
}


/* SP版 */
@media screen and (max-width:768px) {
  h2 {
    font-size: 2.4rem;
  }
  .swiper {
    padding: 0 50px;
  }
  .contact {
    flex-direction: column;
    .contact-text {
      width: 100%;
    }
    .contact-form {
      width: 100%;
    }
    .button {
      width: 100%;
      input {
        width: 100%;
      }
    }
  }
}

